@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "header header" "section1 section2" "section3 section4" "section5 section6" "client_section client_section" "footer footer";
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body header {
  grid-area: header;
  position: relative;
}
body header nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
}
body header nav .mobileMenu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
body header nav .mobileMenu ul li {
  list-style-type: none;
}
body header nav .mobileMenu ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
body header nav .mobileMenu ul li button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 27%, 19%);
  padding: 0.6rem 1.6rem;
  border-radius: 1.6rem;
  border: none;
  font-family: "Fraunces", serif;
  font-weight: 700;
  text-transform: uppercase;
}
body header nav .mobileMenu ul li button:hover {
  background-color: rgba(255, 255, 255, 0.259);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
body header nav .hamburger {
  display: none;
}
body header h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: hsl(0, 0%, 100%);
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 7px;
}
body header .arrow-down {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin-top: 150px;
}
body header .image-header {
  margin-top: -183px;
  width: 100%;
}
body header .mobile-img {
  display: none;
}
body .section1, body .section4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section1 div, body .section4 div {
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
body .section1 div h2, body .section4 div h2 {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  line-height: 3rem;
}
body .section1 div p, body .section4 div p {
  color: hsl(213, 9%, 39%);
}
body .section1 div div, body .section4 div div {
  display: flex;
  flex-direction: column;
  width: 135px;
  align-items: center;
}
body .section1 div div button, body .section4 div div button {
  font-family: "Fraunces", serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 130px;
  z-index: 1;
}
body .section1 div div .line, body .section4 div div .line {
  width: 135px;
  height: 10px;
  opacity: 0.3;
  border-radius: 4px;
  margin-top: -40px;
  z-index: 0;
}
body .section1 div div:hover .line, body .section4 div div:hover .line {
  opacity: 1;
}
body .section1 {
  grid-area: section1;
}
body .section1 .line {
  background-color: hsl(51, 100%, 49%);
}
body .section2 {
  grid-area: section2;
}
body .section3 {
  grid-area: section3;
}
body .section4 {
  grid-area: section4;
}
body .section4 .line {
  background-color: hsl(7, 99%, 70%);
}
body .section5 .content, body .section6 .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: -200px;
  width: 674px;
}
body .section5 .content h3, body .section6 .content h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
}
body .section5 .content p, body .section6 .content p {
  width: 50%;
  text-align: center;
}
body .section5 {
  grid-area: section5;
  color: hsl(167, 40%, 24%);
}
body .section5 .mobile-graphic-design {
  display: none;
}
body .section6 {
  grid-area: section6;
  color: hsl(198, 62%, 26%);
}
body .section6 .mobile-photography {
  display: none;
}
body .client_section {
  grid-area: client_section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
  height: 600px;
}
body .client_section h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: hsl(210, 4%, 67%);
  letter-spacing: 4px;
  text-transform: uppercase;
}
body .client_section .clients {
  display: flex;
  gap: 3rem;
}
body .client_section .clients .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 320px;
}
body .client_section .clients .client img {
  border-radius: 50%;
  width: 80px;
}
body .client_section .clients .client p {
  text-align: center;
  color: hsl(213, 9%, 39%);
}
body .client_section .clients .client .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
body .client_section .clients .client .info .name {
  font-family: "Fraunces", serif;
  font-weight: 700;
}
body .client_section .clients .client .info h6 {
  color: hsl(210, 4%, 67%);
}
body footer {
  grid-area: footer;
  background-color: hsl(168, 46%, 64%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
body footer .image-set {
  display: flex;
}
body footer .image-set img {
  width: 25%;
}
body footer .footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 4rem 0;
}
body footer .footer-info svg path {
  fill: hsl(167, 40%, 24%);
}
body footer .footer-info ul {
  display: flex;
  gap: 3rem;
  color: hsl(167, 40%, 24%);
}
body footer .footer-info ul li {
  list-style-type: none;
}
body footer .footer-info ul li:hover {
  color: hsl(0, 0%, 100%);
}
body footer .footer-info .social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
body footer .footer-info .social-icons svg path:hover {
  fill: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media (max-width: 1024px) {
  body header .image-header {
    margin-top: -75px;
    width: 100%;
  }
  body .section5 .content, body .section6 .content {
    width: 512px;
  }
  body .client_section {
    width: 100%;
  }
  body .client_section .clients .client {
    width: auto;
  }
}
@media (max-width: 768px) {
  body header h1 {
    font-size: 2.5rem;
  }
  body header .arrow-down {
    margin-top: 110px;
  }
  body .section1 div, body .section4 div {
    width: 80%;
    height: 100%;
    gap: 1rem;
  }
  body .section1 div h2, body .section4 div h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  body .section1 div div, body .section4 div div {
    height: auto;
  }
  body .section1 div div .line, body .section4 div div .line {
    margin-top: -25px;
  }
  body .section5 .content, body .section6 .content {
    gap: 0.6rem;
    margin-top: -160px;
    width: 384px;
  }
  body .section5 .content h3, body .section6 .content h3 {
    font-size: 1.6rem;
  }
  body .section5 .content p, body .section6 .content p {
    width: 85%;
  }
  body .client_section {
    width: 768px;
  }
  body .client_section .clients {
    gap: 2.5rem;
  }
  body .client_section .clients .client {
    width: auto;
  }
}
@media (max-width: 375px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "header" "section2" "section1" "section3" "section4" "section5" "section6" "client_section" "footer";
  }
  body header {
    width: 375px;
  }
  body header nav .mobileMenu {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: hsl(0, 0%, 100%);
    z-index: 1000;
    width: 90%;
    padding: 2.5rem 0;
  }
  body header nav .mobileMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  body header nav .mobileMenu ul li {
    list-style-type: none;
  }
  body header nav .mobileMenu ul li a {
    text-decoration: none;
    color: hsl(210, 4%, 67%);
  }
  body header nav .mobileMenu ul li button {
    background-color: hsl(51, 100%, 49%);
  }
  body header nav .mobileMenu ul li button:hover {
    background-color: hsla(51, 100%, 49%, 0.682);
    color: hsl(212, 27%, 19%);
    cursor: pointer;
  }
  body header nav .mobileMenu::before {
    content: "";
    width: 30px;
    height: 35px;
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, hsl(0, 0%, 100%) 50%, hsl(0, 0%, 100%) 100%);
    position: absolute;
    left: 307px;
    bottom: 265px;
  }
  body header nav .hamburger {
    display: block;
  }
  body header h1 {
    font-size: 3rem;
    margin-top: 2rem;
    letter-spacing: 5px;
  }
  body header .arrow-down {
    margin-top: 230px;
  }
  body header .image-header {
    display: none;
  }
  body header .mobile-img {
    margin-top: -56px;
    display: block;
  }
  body .section1, body .section2,
  body .section3, body .section4,
  body .section5, body .section6 {
    width: 375px;
  }
  body .section1, body .section4 {
    height: 400px;
  }
  body .section1 div, body .section4 div {
    align-items: center;
    gap: 2rem;
  }
  body .section1 div h2, body .section4 div h2 {
    font-size: 2rem;
    text-align: center;
  }
  body .section1 div p, body .section4 div p {
    text-align: center;
  }
  body .section1 div div .line, body .section4 div div .line {
    margin-top: -40px;
  }
  body .section5 .content, body .section6 .content {
    gap: 1rem;
    margin-top: -220px;
    width: auto;
  }
  body .section5 .content h3, body .section6 .content h3 {
    font-size: 1.6rem;
  }
  body .section5 .content p, body .section6 .content p {
    width: 85%;
  }
  body .section5 .desktop-graphic-design {
    display: none;
  }
  body .section5 .mobile-graphic-design {
    display: block;
  }
  body .section6 .desktop-photography {
    display: none;
  }
  body .section6 .mobile-photography {
    display: block;
  }
  body .client_section {
    width: auto;
    height: auto;
    padding: 4rem 2.5rem;
  }
  body .client_section h3 {
    font-size: 1rem;
  }
  body .client_section .clients {
    flex-direction: column;
    gap: 3rem;
  }
  body .client_section .clients .client {
    width: auto;
    gap: 2rem;
  }
  body .client_section .clients .client img {
    width: 70px;
  }
  body footer .image-set {
    display: flex;
    flex-wrap: wrap;
  }
  body footer .image-set img {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */